//
// common.xcconfig
// LearniOS
//
// Created by DEEP on 2021/7/31
// Copyright © 2021 DEEP. All rights reserved.
//
        

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
// https://xcodebuildsettings.com/

VERSION_NUMBER = 1.1.1
BUILD_NUMBER = 10101

// Configuraion -> Target
// e.g. CONFIGURATION = LearniOSDebug / LearniOSInHouseDebug
// e.g. CURRENT_TARGET_FOR_CONFIG = LearniOS / LearniOSInHouse
TARGET_FOR_CONFIG_LearniOSDebug    = LearniOS
TARGET_FOR_CONFIG_LearniOSRelease  = LearniOS
TARGET_FOR_CONFIG_LearniOSInHouseDebug    = LearniOSInHouse
TARGET_FOR_CONFIG_LearniOSInHouseRelease  = LearniOSInHouse
CURRENT_TARGET = $(TARGET_FOR_CONFIG_$(CONFIGURATION))

// Target -> Micros
// TARGET = CUSTOM + (IS_IN_HOUSE=1)
// COMMON = TARGET + COCOAPODS=1
// DEBUG = COMMON + DEBUG=1 = CUSTOM + (IS_IN_HOUSE=1) + COCOAPODS=1 + DEBUG=1
MICROS_FOR_CUSTOM = CAN_SHOW_MORE_PANEL CAN_SHOW_DEVICE_INFO
MICROS_FOR_TARGET_LearniOS = $(MICROS_FOR_CUSTOM)
MICROS_FOR_TARGET_LearniOSInHouse = $(MICROS_FOR_CUSTOM) IS_IN_HOUSE
MICROS_FOR_COMMON = $(MICROS_FOR_$(CURRENT_TARGET)) COCOAPODS=1
MICROS_FOR_DEBUG = $(MICROS_FOR_COMMON) DEBUG=1
MICROS_FOR_RELEASE = $(MICROS_FOR_COMMON) NDEBUG=1

PRODUCT_BUNDLE_IDENTIFIER_PREFIX = com.DEEP.LearniOS
PRODUCT_BUNDLE_IDENTIFIER_LearniOS =
PRODUCT_BUNDLE_IDENTIFIER_LearniOSInHouse = .inHouse
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_PREFIX)$(PRODUCT_BUNDLE_IDENTIFIER_$(CURRENT_TARGET_FOR_CONFIG))

// 设置 appname
APP_NAME_LearniOS        = LearniOS
APP_NAME_LearniOSInHouse = LearniOSInHouse
APP_NAME = $(APP_NAME_$(CURRENT_TARGET))
PRODUCT_NAME = $(APP_NAME)

// 设置常用编译选项
SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 13.0
ENABLE_BITCODE = NO
TARGETED_DEVICE_FAMILY = 1,2 // iPhone + iPad, 必须写 1,2 不能写 1, 2
OTHER_LDFLAGS = -ObjC
GCC_NO_COMMON_BLOCKS = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_C_LANGUAGE_STANDARD = gnu11
GCC_SYMBOLS_PRIVATE_EXTERN = NO
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES // 对 MRC 开启 weak 支持
MTL_FAST_MATH = YES // 开启 fast math 支持
ENABLE_STRICT_OBJC_MSGSEND = YES
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
//EXPORTED_SYMBOLS_FILE = ${SRCROOT}/exportSymbols.txt

SWIFT_VERSION = 5.0
