//
// release.xcconfig
// LearniOS
//
// Created by DEEP on 2021/8/1
// Copyright © 2021 DEEP. All rights reserved.
//
        

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "common.xcconfig"

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) $(MICROS_FOR_COMMON)
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(MICROS_FOR_RELEASE)

// release 下的编译选项
ONLY_ACTIVE_ARCH = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_TESTABILITY = NO
VALIDATE_PRODUCT = YES
DEPLOYMENT_POSTPROCESSING = YES
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
GCC_OPTIMIZATION_LEVEL = s
SWIFT_OPTIMIZATION_LEVEL = -O
ENABLE_NS_ASSERTIONS = NO
MTL_ENABLE_DEBUG_INFO = NO
// LTO 这个，Aweme 开了 YES_THIN, AwemeInhouse 开了 NO, 咱们也是 Inhouse, NO 吧
LLVM_LTO = NO
LD_GENERATE_MAP_FILE = YES
CLANG_MODULES_AUTOLINK = YES

#include "user.xcconfig"
